 
   <div class="group">
        <h1>Вход</h1>
        <input type="text" placeholder="Логин" />
        <br />
        <input type="password" placeholder="Пороль" />
        <br />
        <input type="submit" name="" value="войти" />

    </div>


