
    <div class="group">
        <br />
        <br />
        <h1></h1>

        <br />
        <br />

        <div class='header-bth'>
            <br />
            <br />

            <a href='https://ru.m.wikipedia.org/wiki/%D0%9A%D0%BE%D0%B4%D1%80%D1%8B_(%D0%B7%D0%B0%D0%BF%D0%BE%D0%B2%D0%B5%D0%B4%D0%BD%D0%B8%D0%BA)' target='_blank'>
                <img src="~/Content/zapovednik1.jpg" title="Заповедник Кодры - самый старый научный заповедник Молдавии. Представляет собой холмистые леса с максимальными высотами до 380 м, пересечён долинами и оврагами.Заповедник «Кодры» расположен у села Лозово Страшенского района Республики Молдова, примерно в 50 км от Кишинёва. Наивысшая точка заповедника (382,5 м на уровнем моря) находится на водоразделе бассейнов рек Когильник и Бык. Водораздел рек Ботна и Бык проходит примерно посередине заповедника. НАЖМИТЕ НА КАРТИНКУ ДЛЯ ПОДРОБНОЙ ИНФОРМАЦИИ" alt="ЗАПОВЕДНИК КОДРЫ" width="200" height="100">
            </a>
        </div>

        <div class='header-bth'>
            <br />
            <br />

            <a href='https://ru.m.wikipedia.org/wiki/%D0%AF%D0%B3%D0%BE%D1%80%D0%BB%D1%8B%D0%BA_(%D0%B7%D0%B0%D0%BF%D0%BE%D0%B2%D0%B5%D0%B4%D0%BD%D0%B8%D0%BA)' target='_blank'>
                <img src="~/Content/zapovednik2.jpg" title="Заповедник Ягорлык - заповедник в Дубоссарском районе Приднестровской Республики. Расположен в нижнем течении реки Ягорлык, затопленном в результате строительства Дубоссарской ГЭС.Уникальность заповедника заключается в том, что в Гоянском заливе заповедника выявлено 180 видов зоопланктона, 33 вида рыб, из них 2 - краснокнижные. На территории заповедника выявлено 1017 видов сосудистых растений, из них 49 видов редких и исчезающих, 43 вида млекопитающих. НАЖМИТЕ НА КАРТИНКУ ДЛЯ ПОДРОБНОЙ ИНФОРМАЦИИ" alt="ЗАПОВЕДНИК ЯГОРЛЫК" width="200" height="100">
            </a>
        </div>

        <div class='header-bth'>
            <br />
            <br />
            <a href='https://ru.m.wikipedia.org/wiki/%D0%9F%D1%80%D1%83%D1%82%D1%83%D0%BB_%D0%B4%D0%B5_%D0%96%D0%BE%D1%81_(%D0%B7%D0%B0%D0%BF%D0%BE%D0%B2%D0%B5%D0%B4%D0%BD%D0%B8%D0%BA)' target='_blank'>
                <img src="~/Content/zapovednik3.jpg" title="Заповедник Прутул де жос - государственный природный заповедник Молдавии, создан 23 апреля 1991 года, на площади 1755,4 га, в целях сохранения и изучения экосистемы озёр и пойменного ландшафта нижнего течения реки Прут, создания благоприятных условий для размножения редких и исчезающих видов растений и животных. Территория заповедника расположена в юго-западной части Республики Молдова, вдоль нижнего течения реки Прут, последнего крупного притока Дуная, в окрестностях населенного пункта Слобозия Маре. НАЖМИТЕ НА КАРТИНКУ ДЛЯ ПОДРОБНОЙ ИНФОРМАЦИИ" alt="ПРУТУЛ-ДЕ-ЖОС" width="200" height="100">
            </a>
        </div>



    </div>




</body>
</html>