
<div class='header-down'>

    <div class='header-title'>
        Добро пожаловать в

        <div class='header-subtitle'>
            Наш мир природы
        </div>

        <div class='header-bth'>
            <a href="@Url.Action("zapov","zapov")" class='header-button'>НАШИ ЗАПОВЕДНИКИ</a>
        </div>

    </div>

</div>