<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class=" cards">
    <div class=" container">
        <div class="card-hold">
            <div class="card">
                <div class="cards-imea">
                    Мария
                </div>
                <div class="cards-text">
                    Очень хороший сайт, узнала многое о заповедниках РМ. Хоть и нее живу в Молдове, но летом обязательно приеду что бы посмотреть на эту замечальную природу.
                </div>
                <img src="~/Content/mar.png" class="face" />
            </div>
            <div class="card">
                <div class="cards-imea">
                    Василий
                </div>
                <div class="cards-text">
                    Я хоть и живу в Молдове всю жизнь, но сегодня многое узнал  о моей родной стране. Не думал, что у нас такая богатая флора и фауна. Будет что рассказать колегам на работе.
                </div>
                <img src="~/Content/vas.png" class="face" />
            </div>
            <div class="card">
                <div class="cards-imea">
                    Сергей
                </div>
                <div class="cards-text">
                    Благодарю за предоставленную информацию, я ученик 7 класса и в призентации буду использовать данный источник. Всё очень удобно и красиво рассказанно.
                </div>
                <img src="~/Content/serg.png" class="face" />
            </div>
        </div>
    </div>
</div>


    


